<% include partials/header %>


  <h1 class="text-center">Books Database</h1>

<!-- form  -->
<div class="container w-75 mb-5">


  <!-- FORM -->
  <form method="POST" action="/books">
    <div class="form-group">
      <input name='bookName' type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



</div> 
<!-- end of form  -->


  

<!-- Page Content -->
<div class="container">


    <div class="row">

      <!-- Categories  -->
      <div class="col-lg-3"> 

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>
      <!-- end of categories  -->

      

      <div class="col-lg-9">

        <div class="row">

            <% book.map((item) => {  %>
              

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href=/books/<%= item._id %>><%= item.bookName %></a>
                </h4>
                <h5>$<%= item.price %></h5>
                <p class="card-text">Books left: <%= item.quantity %></p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <a class="btn btn-outline-success" href="/books/<%= item._id %>/edit">Edit</a>
              <form action="/books/<%= item._id %>?_method=DELETE" method="post">
                <button class="btn btn-outline-danger">Delete</button>
              </form>
 

              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

            <% }); %>


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <% include partials/footer %>